Repository aurelius-in/DriftHawk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, infra, bot, policy, docs

feat: batch6 (CodeQL, tfsec, kubeconform, pre-commit, Make targets, PR title, markdownlint, OpenAPI workflow, OPA hostPath deny, Docker non-root + GIT_SHA)
  .github/workflows/build-sign.yml
  .github/workflows/codeql.yml
  .github/workflows/kubeconform.yml
  .github/workflows/markdownlint.yml
  .github/workflows/openapi.yml
  .github/workflows/pr-title.yml
  .github/workflows/tfsec.yml
  .pre-commit-config.yaml
  Dockerfile.ops-bot
  Makefile
  policy/opa/k8s.rego
  policy/opa/test/hostpath.json
Labels: ci, policy

feat: batch7 (pytest + flake8 CI, tests, Make targets, logger env level, build-sign pin staging/prod, docs updates)
  .flake8
  .github/workflows/build-sign.yml
  .github/workflows/flake8.yml
  .github/workflows/tests.yml
  .gitignore
  Makefile
  README.md
  gitops/apps/README.md
  ops_bot/app/main.py
  ops_bot/app/utils/logging.py
  ops_bot/requirements-dev.txt
  ops_bot/tests/test_app.py
Labels: ci, infra, bot, docs

feat: batch8 (badges, observability docs, Infracost config, plan artifact, pip cache, mypy, request-id, Slack connector, overlay labels, compose health, test docs)
  .github/workflows/flake8.yml
  .github/workflows/mypy.yml
  .infracost.yml
  Makefile
  README.md
  ci/.github/workflows/plan.yml
  delivery-kit/observability/README.md
  docker-compose.yml
  gitops/overlays/dev/kustomization.yaml
  gitops/overlays/prod/kustomization.yaml
  gitops/overlays/staging/kustomization.yaml
  mypy.ini
  ops_bot/app/main.py
  ops_bot/app/middleware/request_id.py
  ops_bot/app/settings.py
  ops_bot/connectors/slack.py
  ops_bot/requirements-dev.txt
Labels: ci, infra, bot, docs

feat: batch9 (isort, CORS config, Slack notify on change, secretGenerators, kustomize conftest, release-drafter, OpenAPI meta, timing middleware, Make targets, tests)
  .github/release-drafter.yml
  .github/workflows/isort.yml
  .github/workflows/kustomize-conftest.yml
  .github/workflows/release-drafter.yml
  .pre-commit-config.yaml
  Makefile
  gitops/overlays/dev/kustomization.yaml
  gitops/overlays/prod/kustomization.yaml
  gitops/overlays/staging/kustomization.yaml
  ops_bot/app/main.py
  ops_bot/app/middleware/timing.py
  ops_bot/app/routes/change.py
  ops_bot/tests/test_change.py
Labels: ci, infra, bot

chore: enforce develop-only flow (remove dependabot, drift scout -> issue)
  .github/dependabot.yml
  .github/workflows/bandit.yml
  .github/workflows/trivy-fs.yml
  gitops/overlays/dev/kustomization.yaml
  gitops/overlays/staging/kustomization.yaml
  gitops/rollouts/ops-bot-hpa.yaml
  ops_bot/jobs/drift_scout.sh
  policy/opa/k8s.rego
  policy/opa/test/hostnetwork.json
Labels: ci, infra, bot, policy

Add metrics endpoint and quick tests; small Makefile helper
  Makefile
  ops_bot/app/main.py
  ops_bot/requirements.txt
  ops_bot/tests/test_metrics.py
Labels: bot

Tweak workflows, add ping, tighten change risk, and prod scaling
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/flake8.yml
  .github/workflows/isort.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  ci/.github/workflows/build-sign.yml
  gitops/overlays/prod/kustomization.yaml
  ops_bot/app/main.py
  ops_bot/app/routes/change.py
Labels: ci, infra, bot

Make workflows calmer, add badges, docs, and a quick cleanup
  .github/workflows/kustomize-conftest.yml
  .github/workflows/openapi.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  README.md
  ci/.github/workflows/infracost.yml
  ci/.github/workflows/plan.yml
  gitops/overlays/README.md
Labels: ci, infra, docs

Give the bot its own account and lock things down
  gitops/overlays/dev/kustomization.yaml
  gitops/overlays/prod/kustomization.yaml
  gitops/overlays/staging/kustomization.yaml
  gitops/rollouts/ops-bot-sa.yaml
  gitops/rollouts/ops-bot.yaml
Labels: infra

Tighten policies, add tests, and log client IPs
  .github/workflows/kustomize-conftest.yml
  Makefile
  gitops/rollouts/ops-bot.yaml
  ops_bot/app/middleware/timing.py
  policy/opa/k8s.rego
  policy/opa/test/allow_priv_esc.json
  policy/opa/test/automount.json
  policy/opa/test/default_sa.json
  policy/opa/test/rofs.json
  policy/opa/test/seccomp.json
Labels: ci, infra, bot, policy

Add trusted hosts, startup logs, error handler, and set runAsUser
  gitops/rollouts/ops-bot.yaml
  ops_bot/app/main.py
  policy/opa/k8s.rego
  policy/opa/test/hostpid.json
Labels: infra, bot, policy

More guardrails, quick Slack ping on promote, and handy quality target
  Makefile
  README.md
  gitops/overlays/dev/kustomization.yaml
  gitops/overlays/prod/kustomization.yaml
  gitops/overlays/staging/kustomization.yaml
  ops_bot/.env.example
  ops_bot/app/routes/chatops.py
  policy/opa/test/hostipc.json
  policy/opa/test/missing_liveness.json
  policy/opa/test/missing_readiness.json
  policy/opa/test/runasuser_low.json
  redteam/rollout/hostnetwork_bad.yaml
Labels: infra, bot, policy, docs

Faster pages (gzip), richer health, and a few handy TF checks
  .github/workflows/terraform-fmt.yml
  .github/workflows/tflint.yml
  Makefile
  ops_bot/app/main.py
  ops_bot/tests/test_health.py
Labels: ci, bot

Make logs nicer, add ping test, and help with TF + Docker
  .github/workflows/terraform-fmt.yml
  .github/workflows/tflint.yml
  Makefile
  ops_bot/app/utils/logging.py
  ops_bot/tests/test_ping.py
  redteam/run_redteam.sh
Labels: ci, bot

Add PDB, safer image pulls, and start resource quotas
  gitops/overlays/dev/kustomization.yaml
  gitops/overlays/dev/resourcequota.yaml
  gitops/overlays/prod/kustomization.yaml
  gitops/overlays/staging/kustomization.yaml
  gitops/rollouts/ops-bot-pdb.yaml
  gitops/rollouts/ops-bot.yaml
Labels: infra

Quotas, limits, registry guard, and a few build helpers
  Makefile
  README.md
  gitops/overlays/dev/kustomization.yaml
  gitops/overlays/dev/limitrange.yaml
  gitops/overlays/prod/kustomization.yaml
  gitops/overlays/prod/limitrange.yaml
  gitops/overlays/prod/resourcequota.yaml
  gitops/overlays/staging/kustomization.yaml
  gitops/overlays/staging/limitrange.yaml
  gitops/overlays/staging/resourcequota.yaml
  policy/opa/k8s.rego
  policy/opa/test/registry_bad.json
Labels: infra, policy, docs

Smoother rollouts, sturdier pods, and a new image policy
  gitops/rollouts/ops-bot.yaml
  policy/opa/k8s.rego
  policy/opa/test/imagepullpolicy_bad.json
Labels: infra, policy

Track request times for better charts
  .github/workflows/codeql.yml
  ops_bot/app/middleware/timing.py
Labels: ci, bot

Handy headers endpoint (no secrets)
  ops_bot/app/main.py
  ops_bot/tests/test_headers.py
  policy/opa/k8s.rego
Labels: bot, policy

More checks: Dockerfile and shells; env/log tweaks and version labels
  .github/workflows/hadolint.yml
  .github/workflows/shellcheck.yml
  Makefile
  gitops/overlays/dev/kustomization.yaml
  gitops/overlays/prod/kustomization.yaml
  gitops/overlays/staging/kustomization.yaml
  ops_bot/.env.example
  policy/opa/test/capabilities_bad.json
  policy/opa/test/tgps_low.json
Labels: ci, infra, bot, policy

Tidy up and push progress
  .flake8
  ci/.github/workflows/build-sign.yml
  pyproject.toml
Labels: none

Sort imports to make linters happy
  ops_bot/app/main.py
Labels: bot

Stabilize CI: cache pip, create artifacts, scope tfsec, fix isort
  .github/workflows/isort.yml
  .github/workflows/tfsec.yml
  ci/.github/workflows/plan.yml
Labels: ci

Quiet noisy bandit rules for tests
  .bandit
  .github/workflows/bandit.yml
Labels: ci

Keep fixing CI: deps cleaned and workflows tuned
  ops_bot/requirements.txt
Labels: bot

Fix imports to uncork tests
  ops_bot/app/routes/chatops.py
Labels: bot

fix tests
  ops_bot/__init__.py
  ops_bot/app/__init__.py
  ops_bot/app/main.py
  ops_bot/app/middleware/request_id.py
  ops_bot/app/middleware/timing.py
  ops_bot/app/routes/change.py
  ops_bot/app/routes/chatops.py
  ops_bot/app/utils/logging.py
  ops_bot/app/utils/plan.py
  ops_bot/connectors/jira.py
  ops_bot/connectors/servicenow.py
Labels: bot

tidy python stuff and make it all pass locally
  .github/dependabot.yml
  Makefile
  ops_bot/.env.example
  ops_bot/__init__.py
  ops_bot/app/__init__.py
  ops_bot/app/main.py
  ops_bot/app/middleware/request_id.py
  ops_bot/app/middleware/timing.py
  ops_bot/app/routes/__init__.py
  ops_bot/app/settings.py
  ops_bot/app/utils/logging.py
  ops_bot/app/utils/plan.py
  ops_bot/connectors/jira.py
  ops_bot/connectors/slack.py
  ops_bot/run.ps1
  ops_bot/tests/test_app.py
  ops_bot/tests/test_change.py
  ops_bot/tests/test_headers.py
  ops_bot/tests/test_health.py
  ops_bot/tests/test_metrics.py
  ops_bot/tests/test_ping.py
Labels: bot

small windows + dockerfile polish and handy docs
  .pre-commit-config.yaml
  Dockerfile.ops-bot
  README.md
Labels: docs

clean run script, add lint configs, make terraform helpers, docs tweaks
  .markdownlint.yaml
  .tflint.hcl
  .tfsec.yml
  .yamllint.yml
  Makefile
  README.md
  ops_bot/README.md
  ops_bot/run.sh
Labels: bot, docs

teach the bot to spit out a neat impact brief in markdown
  ops_bot/app/routes/chatops.py
  ops_bot/app/utils/markdown.py
  ops_bot/tests/test_app.py
Labels: bot

set log format per env and wire into deployment
  Makefile
  gitops/overlays/dev/kustomization.yaml
  gitops/overlays/prod/kustomization.yaml
  gitops/overlays/staging/kustomization.yaml
  gitops/rollouts/ops-bot.yaml
  ops_bot/app/main.py
  ops_bot/app/middleware/security.py
  ops_bot/app/routes/chatops.py
  ops_bot/app/utils/markdown.py
  ops_bot/app/utils/plan.py
  ops_bot/tests/test_app.py
Labels: infra, bot

more nice polish: headers, uptime, echo, tests all happy
  ops_bot/app/middleware/timing.py
  ops_bot/tests/test_headers.py
Labels: bot

remove that boilerplate PR template so nothing noisy gets prefilled
  .github/pull_request_template.md
Labels: none

handy little tools: traces, hashes, b64, math, and quick tests
  Makefile
  ops_bot/app/main.py
  ops_bot/app/middleware/security.py
  ops_bot/app/middleware/trace.py
  ops_bot/app/routes/chatops.py
  ops_bot/app/utils/markdown.py
  ops_bot/connectors/jira.py
  ops_bot/connectors/servicenow.py
  ops_bot/tests/test_app.py
  ops_bot/tests/test_headers.py
Labels: bot

more neat tweaks: urlsafe b64, sha512, a little /error test
  ops_bot/app/main.py
  ops_bot/app/middleware/timing.py
  ops_bot/tests/test_app.py
Labels: bot

tiny quality-of-life endpoints and tests, all green
  ops_bot/app/main.py
  ops_bot/tests/test_app.py
Labels: bot

trace bits and lower-case headers view looks neat, tests green
  ops_bot/app/main.py
  ops_bot/app/middleware/trace.py
  ops_bot/tests/test_headers.py
Labels: bot

more handy endpoints and header tweaks all green
  ops_bot/app/main.py
  ops_bot/tests/test_app.py
Labels: bot

wrap-up bits: secrets check workflow, smoke deploy notes, tfsec ignore justification
  .github/workflows/secrets-check.yml
  .tfsec.yml
  README.md
  gitops/overlays/README.md
Labels: ci, infra, docs

.github/labeler.yml:

ci:
  - .github/workflows/**
infra:
  - terraform/**
  - gitops/**
bot:
  - ops_bot/**
policy:
  - policy/**
docs:
  - README.md
  - delivery-kit/**
